body {
  display: flex;
  flex-direction: row;
  /* transform:skew(60deg, -30deg) scaleY(.66667); */
  width: 75%
}

hr {
  width: 95%
}

.left-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow:
      inset 60px 0 80px #0ff,
      inset -60px 0 80px #f0f;
}

.left-bar > button {
  display: flex;
  justify-content: flex-start;
  background-color: Transparent;
  color: #919EAE;
  border: none;
  margin: 10px;
  margin-top: 20px;
  font-size: 12px;
  text-align: left;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.user > img {
  max-width: 60px;
  min-height: 60px;
  border-radius: 100%
}

.dropbtn {
  background-color: Transparent;
  color: #919EAE;
  border: none;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.nighty-night:active .nighty-night {
  background-color: black;
  color: white
}


.left-bar > hr {
  width: 95%;
  border-color: #2D3949
}

.left-bar > p {
  color: #919EAE;
  font-size: 10px;
  margin-left: 10px
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #fff;
  box-shadow:
      inset 60px 0 120px #f0f,
      inset -60px 0 120px #0ff;

}

/* add flex to the parent of these buttons, look into space-around/between */
.user > button {
  background-color: Transparent;
  border: none;
  color: #9DD2F6;
}

.search {
  display: flex;
  height: 50px;
}

.search > button {
  background-color: Transparent;
  width: 50px
}

.search > button:hover {
  color: white;
  background-color: #15A3F8
}

.search-bar {
  width: 100%
}
/* find what else is prhibitoing the set width */

.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.nav button {
  background-color: Transparent;
}

.customer-specifics button {
  border: none;
  color: blue;
}

.customer {
display: flex;
flex-direction: column;
}

.customer-specifics {
  display: flex;
  flex-direction: row;
}

.customer-buttons {
  display: flex;
  align-items: center;
}

.customer-buttons button {
  font-size: 20px;
  border-radius: 10px;
  margin: 5px;
  height: 35px
}

.job-title {
  font-size: 24px;
}

.selectors {
  display: flex;
  /* justify-content: space-between; */
  padding-left: 2em;
}
.selectors button {
  margin-left: 2em;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom-color: Transparent;
}

.selectors button:hover {
  border-bottom-color: #9DD2F6;
 }

.circle-img {
  display: flex;
  flex-direction: row;
}

.circle-img img {
  animation: rotation 200s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.body-top img {
  height: 15em;
  margin-bottom: 2em;
}

.body-top button {
    border-radius: 12px;
    background-color: white;
    border-width: 1px;
    margin-bottom: 30px
}

.body {
  background-color: #EDF2F6;
  width: 100%;
  box-shadow:
      inset 60px 0 120px #f0f,
      inset -60px 0 120px #0ff;
}

button:active button {
  transform:skew(60deg, -30deg) scaleY(.66667);
}

.body-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  margin-bottom: 45px;
}

.body-bottom {
  margin: 35px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.article {
  width: 600px;
  background-color: white;
  margin-right: 35px;
}

.article p {
  margin-right: 25px;
}

.article section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.article hr {
  width: 90%;
}

.article-top {
  display: flex;
  align-items: center;
  color: white;
  background-color: #f0f;
  border: #0ff
}

.article-top ~ section {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 15px;
}

.article-top button {
  margin-left: 15px;
  color: white;
  background-color: #7C8DA6;
  height: 35px
}

.body-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-bottom-right button {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 55px;
  margin: 10px;
}

.body-bottom-right ~ p {
  display: flex;
  align-items: flex-start;
}

.body-bottom {
  display: flex;
  flex-direction: row;
}

.facebook {
  background-color: #4C6DC2;
  box-shadow:
    inset 60px 0 80px #0ff,
    inset -60px 0 80px #f0f;
}

.twitter {
  background-color: #04A8EF;
  box-shadow:
      inset 60px 0 20px #0ff,
      inset -60px 0 80px #f0f;
}

.linkedin {
  background-color: #027DBB;
  box-shadow:
    inset 60px 0 40px #f0f,
    inset -60px 0 120px #0ff;
}

.body-bottom-right > input {
  display: flex;
  justify-content: center;
  width: 375px;
  height: 45px
}

.body-bottom-right hr {
  margin-top: 35px;
}

@media only screen and (max-width: 1230px) {
  .body-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body-bottom-right {
    align-items: center;
    margin-top: 25px
  }
  .circle-img {
    flex-direction: column;
  }
  .body-top {
    flex-direction: column;
  }
  /* .body-bottom {
  } */
}

@media only screen and (max-width: 942px) {
  .selectors {
    display: flex;
    flex-direction: column;
  }
  .selectors button {
    margin-bottom: 15px;
    margin-left: 0px
  }
}

@media only screen and (max-width: 816px) {
  body {
    flex-direction: column;
  }
  .left-bar {
    flex-direction: column;
  }
  .left-bar button {
    display: none;
  }
  .user button {
    display: flex
  }
  .left-bar p {
    display: none;
  }
  .left-bar hr {
    display: none;
  }
}

/* possibly reorganize by html parent-child tag */
